@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
    --botao-azul-efeito: #3c92fa;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-columns: 40% 30% 30%; */
}

.container__caixa{
    margin: 0 10em;
    /* margin: 0 0 0 10em; */
    font-size: 1.2em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
    /* display: block; */
}

.container__botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    padding: 1em;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem{
    width: 80%;
}

.descricao__titulo{
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
    font-size: 1.2em;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
    font-size: 1.2em;
}

.container__descricao {
    padding: 3em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5em 0;
}

.dispositivos__lista__item{
    color: var(--branco-principal);
    font-size: 32px;
    margin: 0 2em;
}

.footer{
    text-align: center;
    margin: 5em 0;
}

.footer__links{
    margin-top: 2em;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.footer__links__link a{
    text-decoration: none;
    color: var(--branco-principal);
}

.footer__links__link a:hover{
    color: var(--botao-azul);
}

.footer__links__link a:active{
    color: purple;
}

.footer__textos{
    margin-top: 2em;
}

.footer__textos__texto{
    color: var(--cinza-secundario);
    max-width: 1400px;
    margin: 0.8em auto;
}

@media (max-width: 1650px){
    .container__caixa{
        margin: 0 4em;
    }
}

@media (max-width: 1400px){
    .container{
        height: auto;
        margin-bottom: 8em;
    } 

    .container:first-child{
        height: 100vh;
        grid-template-columns: 60% 40%;
        margin-bottom: 0;
    } 

    .container__caixa{
        margin: 0 5em;
    }

    .secundario{
        margin: 4em 3em;
    }

    .secundario:first-child{
        margin: 0 3em;
    }
}

@media (max-width: 1200px){
    .dispositivos__lista__item{
        margin: 0;

    }
}
@media (max-width: 1000px){
    .container{
        display: block;
        margin-bottom: 5em;
    } 

    .container:first-child{
        height: auto;
    }

    .container__caixa{
        margin: 0 6em;
        margin-top: 3em;
    }

    .principal{
        background-size: contain;
    }

    .secundario__imagem{
        display: block;
        margin: 0 auto;
    }

    .dispositivos__lista__item{
        max-width: 280px;
        font-size: 24px;
    }
}

@media (max-width: 900px){
    .container{
        height: auto;
    }

    .dispositivos__lista{
        flex-wrap: wrap;
    }

    .dispositivos__lista__item{
        max-width: max-content;
    }
}

@media (max-width: 530px){
    .secundario{
        margin: 0;
    }

    .container__caixa {
        margin: 1em;
    }

    .container__imagem{
        max-width: 250px;
    }
}